<!DOCTYPE html>
<html lang="en">

<head>
    <title>Insta485</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    
        li {
            display: inline;
        }
    
        .flex { display : flex }
    </style>
</head>


<div>
    <a href="/"><b>Insta485</b></a>
    <ul>    
        <li style="position:fixed; right: 10px"><a href="/explore/">explore</a></li>
        <li style="position:fixed; right: 75px"><a href="/users/{{logname}}/">{{logname}}</a></li>
    </ul>
</div>

<!-- DO NOT CHANGE THIS -->
<form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
    <input type="password" name="password" required/>
    <input type="password" name="new_password1" required/>
    <input type="password" name="new_password2" required/>
    <input type="submit" name="update_password" value="submit"/>
    <input type="hidden" name="operation" value="update_password"/>
  </form>

  <a href="/accounts/edit/"><b>Back to edit account</b></a>
</html>