<!DOCTYPE html>
<html lang="en">

<head>
    <title>Insta485</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    
        li {
            display: inline;
        }
    
        .flex { display : flex }
    </style>
</head>


<div>
    <a href="/"><b>Insta485</b></a>
    <ul>    
        <li style="position:fixed; right: 10px"><a href="/explore/">explore</a></li>
        <li style="position:fixed; right: 75px"><a href="/users/{{logname}}/">{{logname}}</a></li>
    </ul>
</div>




{% for f in not_following %}
    <ul>
        <li><img src="/uploads/{{f.filename}}" alt="{{f.filename}} name" style="width:200px;height:150px;"></li>
        <li><a href="/users/{{f.username}}/">{{f.username}}</a></li>
        <li><!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/following/?target={{current_page}}" method="post" enctype="multipart/form-data">
              <input type="submit" name="follow" value="follow"/>
              <input type="hidden" name="username" value="{{f.username}}"/>
              <input type="hidden" name="operation" value="follow"/>
            </form></li>
    </ul>
    
{% endfor %}


</html>