<!DOCTYPE html>
<html lang="en">

<head>
    <title>Insta485</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    
        li {
            display: inline;
        }
    
        .flex { display : flex }
    </style>
</head>


<div>
    <a href="/"><b>Insta485</b></a>
    <ul>    
        <li style="position:fixed; right: 10px"><a href="/explore/">explore</a></li>
        <li style="position:fixed; right: 75px"><a href="/users/{{logname}}/">{{logname}}</a></li>
    </ul>
</div>

<b>Following</b>
{% for f in following %}

<ul>  
    <li><img src="/uploads/{{f.filename}}" alt="{{f.pfp}} name" style="width:75px;height:75px;"></li>  
    <li ><a href="/users/{{f.username2}}/">{{f.username2}}</a></li>
    {% if logname == f.username2 %}

    {% elif f.logname_follows_username == false %}
        <li><p>not following</p></li>
        <li><form action="/following/?target={{current_page}}" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="{{f.username2}}"/>
            <input type="hidden" name="operation" value="follow"/>
          </form></li>
    {% else %}
          <li><p>following</p></li>
          <li><form action="/following/?target={{current_page}}" method="post" enctype="multipart/form-data">
            <input type="submit" name="unfollow" value="unfollow"/>
            <input type="hidden" name="username" value="{{f.username2}}"/>
            <input type="hidden" name="operation" value="unfollow"/>
          </form></li>
    {% endif %}
</ul>

{% endfor %}
</html>